<!DOCTYPE html>
<html lang="en" xmlns:th=https://www.thymeleaf.org/>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Images</title>
</head>
<style>
	img {
		
	}
	
</style>
</img>
	<img src="" th:src="@{/images/1009.jpg}" />
	<img src="" th:src="@{/images/chicken.jpg}"/>
	<img src="/images/logo.jpeg" />
	<img src="" th:src="@{/images/Farm.jpg}" height="500px"/>
	<img src="" th:src="@{/images/marg.jpg}" />
	<img src="" th:src="@{/images/meatjpg.jpg}" />
	<img src="" th:src="@{/images/pep.jpg}" />
</body>
</html>